@import '../../extra-styles/colors.scss';

:host {
  display: grid;
  grid-template-rows: 1fr 1fr min-content min-content;
  row-gap: 6px;
  width: 100%;
}

.header__logo {
  width: 80%;
  height: auto;
}

.header__footer {
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 18px;
  margin-bottom: 8px;
}
