@use '../../../extra-styles/layers' as *;
@use '../../../extra-styles/colors' as *;
@use '../../../extra-styles/elevation.mixins' as *;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  min-width: 250px;
  z-index: $layer1;
  background-color: white;
  border-bottom: 10px solid $main-color;
  border-right: 4px solid $main-color;
  border-bottom-right-radius: 30px;
  opacity: 0;
  transform: translateX(-50%);
  pointer-events: none;
  padding-top: 16px;

  transition: opacity 120ms ease-out,
              transform 300ms ease-out;

  @media (min-width: 64rem) {
    position: unset;
    width: 100%;
    height: unset;
    align-self: start;
    justify-self: center;
    opacity: 1;
    transform: translateX(0%);
    pointer-events: all;
    font-size: .8em;
    border: 1px solid $main-color;
    border-radius: 0;
    padding-top: 0;
    margin: 6px;
    margin-top: 24px;
    background-color: white;
    z-index: unset;
    @include elevation-mixin(3);
  }
}

.sidedrawer__close-button {
  margin-bottom: 32px;
  @media (min-width: 64rem) {
    display: none;
  }
}

:host(.open) {
  opacity: 1;
  transform: translateX(0%);
  pointer-events: all;
}

nav {
  height: calc(100% - 2.5em - (3 * 0.8rem) - 35px);
  overflow-y: scroll;
  @media (min-width: 64rem) {
    height: unset;
    overflow-y: unset;
  }
}

.sidedrawer__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.3em;
}

.sidedrawer__nav-item {
  width: 100%;
  border-bottom: 1px solid $accent-color;
}

.sidedrawer__nav-item:first-of-type {
  border-top: 1px solid $accent-color;
}

.sidedrawer__nav-link-icon {
  width: 30px;
  height: auto;
  margin: 8px 16px ;
}
