<div class="footer-segment">
  <h1 class="footer-segment__title">
    Information
  </h1>
  <a routerLink="wholesale" appScrollToUnderHeader>Wholesale</a>
  <a routerLink="payment-methods" appScrollToUnderHeader>Peyment methods</a>
  <a routerLink="delivery-cost" appScrollToUnderHeader>Delivery costs</a>
  <a routerLink="regulations" appScrollToUnderHeader>Regulations</a>
</div>
<div class="footer-segment">
  <h1 class="footer-segment__title">
    Your account
  </h1>
  <a href="#">Your account</a>
  <a href="#">History of orders</a>
  <a href="#">Newsletter</a>
</div>
<div class="footer-segment">
  <h1 class="footer-segment__title">
    Others
  </h1>
  <a href="#">Producers</a>
  <a href="#">Sale</a>
  <a href="#">Feedback</a>
</div>
<div class="footer-segment">
  <h1 class="footer-segment__title">
    Shop
  </h1>
  <a href="#">Contact</a>
  <a href="#">About Us</a>
  <a href="#">Site map</a>
</div>
