.margin-vertical-16px {
  margin: 16px 0;
}

.margin-all-8px {
  margin: 8px;
}

.margin-left-2px {
  margin-left: 2px;
}

.margin-left-4px {
  margin-left: 4px;
}

.margin-left-1em {
  margin-left: 1em;
}

.margin-left-auto {
  margin-left: auto;
}
