@use '../../../extra-styles/colors' as *;
@use '../../../extra-styles/elevation.mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.home__head {
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: min-content min-content;
  margin: 16px auto;
  width: 90%;
  column-gap: 16px;

}

.home__widget-head {
  border-top: 6px solid $main-color;
  border-bottom: 1px solid $accent-color;
  display: flex;
  align-items: center;
  background-color: white;
  @include elevation-mixin(2);
}

.home__widget-head.home__first-widget {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.home__widget-head.home__secend-widget {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.home__widget-body {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  flex-direction: column;
  align-self: stretch;
  border-bottom: 12px solid #bbb;
  padding-bottom: 16px;
  background-color: white;
  @include elevation-mixin(2);
  @media (min-width: 49rem) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}

.home__widget-body.home__secend-widget {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.home__widget-body.home__first-widget {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.home__widget-image {
  display: flex;
  justify-content: center;
  align-self: stretch;
  @media (min-width: 49rem) {
    justify-content: center;
    align-self: center;
  }
}

.home__widget-image > img {
  width: 120px;
  height: auto;
}

.home__widget-content {
  align-self: stretch;
  padding: 4px;
}

.home__international-delivery {
  margin: 0 auto;
  padding: 16px 0;
  width: 90%;
  border-top: 6px solid $main-color;
  border-bottom: 12px solid #bbb;
  @include elevation-mixin(2)
}

.home__international-delivery > p {
  font-size: 1.2em;
}

.home__flag-container {
  width: 40%;
}

.home__flag-container > img {
  width: 100%;
  max-width: 200px;
  height: auto;
  float: left;
  margin-right: 16px;
}
