<div class="content-container">
  <div class="flex">
    <img src="assets/images/payment_methods.png" style="width: 70px; height: 63px;" alt="payment_methods">
    <div>
      <h3>
        How do I pay for my order?
      </h3>
      <p class="plain-text">
        All about payment methods.
      </p>
    </div>
  </div>
  <p class="font-weight-bold">Here's how you can pay for your order:</p>
  <ol>
    <li class="margin-vertical-16px">
      <span class="font-weight-bold">Payment in advance</span> - the order is processed immediately after receiving the payment. We accept payments:
      <ul>
        <li class="margin-vertical-16px">
          By bank transfer (both when shipping within the country and abroad) - currencies PLN, EUR, GBP, CZK
        </li>
      </ul>
    </li>
    <li class="margin-vertical-16px">
      <span class="font-weight-bold">Cash on delivery</span> - you will pay for the ordered goods to the DPD courier in cash or by card upon delivery, or by card in a parcel locker.
    </li>
  </ol>
  <div class="flex justify-content-end">
    <a class="btn-main font-weight-bold" routerLink="" appScrollToUnderHeader>Go to home page</a>
  </div>
</div>
