@use './extra-styles/colors.scss' as *;
@use './extra-styles/elevation.mixins.scss' as *;
@import url(../node_modules/@fortawesome/fontawesome-free/css/all.min.css);

@font-face {
  src: url(./assets/font-familes/Inter-Thin.ttf);
  font-family: 'Inter';
  font-weight: 100;
  font-style: normal;
}
@font-face {
  src: url(./assets/font-familes/Inter-ExtraLight.ttf);
  font-family: 'Inter';
  font-weight: 200;
  font-style: normal;
}
@font-face {
  src: url(./assets/font-familes/Inter-Light.ttf);
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
}
@font-face {
  src: url(./assets/font-familes/Inter-Regular.ttf);
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url(./assets/font-familes/Inter-Medium.ttf);
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url(./assets/font-familes/Inter-SemiBold.ttf);
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
}
@font-face {
  src: url(./assets/font-familes/Inter-Bold.ttf);
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url(./assets/font-familes/Inter-ExtraBold.ttf);
  font-family: 'Inter';
  font-weight: 800;
  font-style: normal;
}
@font-face {
  src: url(./assets/font-familes/Inter-Black.ttf);
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  background-color: #fcfcfc;
  font-size: clamp(0.8rem, 2.7vw, 1.2rem)
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-style: inherit;
}

a:hover {
  cursor: pointer;
}

button, input {
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}

router-outlet {
  display: none;
}

.block {
  display: block;
}



.expand {
  width: 100%;
  height: 100%;
}

.width-100prc {
  width: 100%;
}

.height-100vh {
  height: 100vh;
}

.height-100prc {
  height: 100%;
}

.layout {
  display: grid;
  grid-template-rows: min-content auto min-content;
  max-width: 1200px;
  margin: 0 auto;
  @media (min-width: 64rem) {
    grid-template-columns: 28% auto;;
  }
}

header {
  @media (min-width: 64rem) {
    grid-column: 1 / -1;
  }
}

footer {
  @media screen {
    @media (min-width: 64rem) {
      grid-column: 1 / -1;
    }
  }
}

.router-outlet-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  @media (min-width: 64rem) {
    grid-column: 2 / -1;
  }
}

.padding-box {
  padding: 2px
}

.cursor-pointer, .cursor-pointer {
  cursor: pointer;
}

.basket-box {
  @include elevation-mixin(2);
  padding: 1em .6em;
  background-color: $main-color;
  border-radius: 10px;
  margin-bottom: 8px;
}

.hr-main-color {
  border-top-color: $main-color
}

.hr-accent-color {
  border-top-color: $accent-color;
}

// .search-input-group {
//   font-size: 1.3em;
//   width: 100%;
//   position: relative;
//   border-radius: .8em;
//   justify-self: center;
//   @include elevation-mixin(2);
// }

// .shearch-entry {
//   padding: .46em .3em;
//   border: 1px solid $main-color;
//   box-shadow: 0px 0px 2px $main-color;
//   width: 100%;
//   border-radius: .8em;
// }
// .shearch-entry::placeholder {
//   color: $main-color;
// }

// .search-input-group:hover .shearch-entry {
//   border: 1px solid $accent-color;
//   box-shadow: 0px 0px 2px $accent-color;
// }

// .search-input-group:hover .shearch-entry::placeholder {
//   color: $accent-color;
// }

// .search-input-group:hover .search-button, .shearch-entry:focus ~ .search-button {
//   color: $accent-color;
//   border: 2px solid $accent-color;
// }

// .shearch-entry:focus {
//   border: 1px solid $accent-color;
//   box-shadow: 0px 0px 2px $accent-color;
// }

// .shearch-entry:focus::placeholder {
//   color: $accent-color;
// }



.sidedrawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 300ms ease-out;
  pointer-events: none;
  @media (min-width: 64rem) {
    display: none;
  }
}

.sidedrawer-backdrop.show {
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: all;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  width: 95%;
  margin: 0 auto;
  gap: 6px;
  @media (min-width: 49rem) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

.content-container {
  width: 95%;
  margin: 24px auto;
  padding: 16px;
  @include elevation-mixin(3);
}

@import './extra-styles/text-aligment-styles.scss';
@import './extra-styles/flex-box-styles.scss';
@import './extra-styles/positions.scss';
@import './extra-styles/font-styles.scss';
@import './extra-styles/text-styles.scss';
@import './extra-styles/button-styles.scss';
@import './extra-styles/border-styles.scss';
@import './extra-styles/margin-styles.scss';
@import './extra-styles/form-styles.scss';
// @import './extra-styles/card.scss';
