<div class="home__head">
    <div class="home__widget-head home__first-widget text-align-center">
      <h1 class="block">Fast, save delivery</h1>
    </div>
    <div class="home__widget-body home__first-widget">
      <div class="home__widget-image">
        <img src="assets/images/fast_delivery_icon.png" alt="fast_delivery_icon">
      </div>
      <div class="home__widget-content">
        <p class="plain-text">
          {{title}}
          We send the ordered products by courier within 24 hours of placing the order. Each shipment is safely and discreetly packed.
        </p>
      </div>
    </div>
    <div class="home__widget-head home__secend-widget text-align-center">
      <h1 class="block text-center ">Only original products</h1>
    </div>
    <div class="home__widget-body home__secend-widget">
      <div class="home__widget-image">
        <img src="assets/images/certificate_icon.inkscape.png" alt="fast_delivery_icon">
      </div>
      <div class="home__widget-content">
        <p class="plain-text">
          We guarantee that all products from our offer are original because they are delivered to us directly from the manufacturers.
        </p>
      </div>
    </div>
</div>
